<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <a class="navbar-brand" [routerLink]="['/home']" (click)="list=null">Beverage Tracker</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a
          (click)="addForm=null; list=true; searchResult=null; loadBevs(); selected=null; editBev=null"
          class="nav-link">
          List All </a></li>
      <li class="nav-item"><a (click)="addForm=true; list=true" class="nav-link">Add Beverage</a></li>
      <li class="nav-item"><a [routerLink]="['/beverages']" (click)="list=null" class="nav-link">Search</a></li>
    </ul>
  </div>
</nav>
